/**
 * @name Super's badly made theme
 * @description Super's theme
 * @author superpowers04
 * @version 0.1
 * @website https://github.com/superpowers04/superpowers04
 * @source https://raw.githubusercontent.com/superpowers04/superpowers04/refs/heads/main/SuperDiscordTheme.theme_f8dc05.css
 * @authorId 267737465152864256
*/

/* Custom Connecting To Discord text thing */
.container_c791b2 .fixClipping_efbae7{
	flex: none !important;
	left: 35% !important;
	right: 35% !important;
	bottom: 90% !important;
	background-color: var(--background-primary) !important;
	padding-bottom: 0% !important;
	border: 1px !important;
	border-color: var(--background-secondary-alt) !important;
	border-style: solid !important;
	height: 10% !important;
	padding:1% !important;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}
.container_c791b2 > div > video,.container_c791b2>a:nth-child(2){
	display:none;
}
/*.tip__8683b{
	display:none;
}*/
/*.tipTitle_a2f514{display: none;}*/
.text__66e7e>*{display:none;}
.text__66e7e,.text__66e7e:after{
	content:"Connecting to Discord servers...";
	margin-top: auto;
	color:white;
	margin-bottom:0%;
}
.problems_a2f514 > div > a:first-child{
	position:absolute;
	left:10%;

}
.problems_a2f514 > div > a{
	position:absolute;
	right:10%;

}
.problemsText_a2f514:before{
	content:"h";
}
.problemsText_a2f514{
	display:none;
}


.channel__972a0{
    position: center;
}
.repliedMessage_c19a55:hover{
font-size: 12px;
}

code{
background: var(--background-secondary-alt) !important;
}
.container_c791b2,.themed_c8b06d,.search__9d40d,.peopleList__5ec2f,.scroller__36d07,.list__07f91,.thin_d125d2,
.scroller__36d07,.auto_c8b5c7{
    background: var(--background-secondary) !important;
}

.ml2-deleted .markup__75297, .ml2-deleted .markup__75297 .hljs, .ml2-deleted .container_c791b2 *{
    color: var(--text-deleted) !important;
}
*::selection{
    color: var(--text-selected) !important;
    background-color: var(--background-selected) !important;
}
.auto_c8b5c7, .auto_c8b5c7{
    background: var(--channeltextarea-background) !important;
}
 .selected_c791b2{
    background: var(--background-mentioned) !important;
}
.categoryHeader_d1405b{
    background: var(--background-secondary) !important;
}
.roleName__5c799{
	color: var(--text-normal);
}

/* Actual theme start */

:root{
--header-secondary:#ccd7d4 !important;
--text-normal:#ccd7d4 !important;
--text-muted:#abb9b6 !important;
--text-link:#DA2D40 !important;
--text-deleted: #f40!important;
--text-selected: #ffffff!important;
--background-selected: #D94757!important;
--background-primary: #221b24 !important;
--background-secondary:#1E181F !important;
--background-secondary-alt:#1E181F !important;
--background-tertiary:#1E181F !important;
--channeltextarea-background:#302534 !important;
--background-message-hover: #2A1B30  !important;


--background-accent:#22222e !important;
--background-floating:#1E181F !important;
--background-mobile-primary:#221b24 !important;
--background-mobile-secondary:#1E181F !important;
--background-modifier-hover:rgba(79,84,92,0.1) !important;
--background-modifier-active:rgba(79,84,92,0.24) !important;
--background-modifier-selected:rgba(79,84,92,0.32) !important;
--background-modifier-accent:hsla(0,0%,100%,0.06) !important;
--scrollbar-thin-thumb:#18061A !important;
--scrollbar-thin-track:transparent !important;
--scrollbar-auto-thumb:#18061A !important;
--scrollbar-auto-track:#302534 !important;
--scrollbar-auto-scrollbar-color-thumb:#18061A !important;
--scrollbar-auto-scrollbar-color-track:#302534 !important;
--elevation-stroke:0 0 0 1px rgba(4,4,5,0.15) !important;
--elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
--elevation-medium:0 4px 4px rgba(0,0,0,0.16) !important;
--elevation-high:0 8px 16px rgba(0,0,0,0.24) !important;
--logo-primary:#fff !important;
--focus-primary:#48387577 !important;
--radio-group-dot-foreground:#5D4A8E77 !important;
--guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4) !important;

--activity-card-background:#202225 !important;
--textbox-markdown-syntax:#8e9297 !important;

--background-mentioned:#48387577 !important;
--background-mentioned-hover:#5D4A8E77 !important;

--background-help-warning:#5D4A8E77 !important;
--background-help-info:rgba(0,103,224,0.1) !important;

--modal-horizontal-padding:0%;
--modal-vertical-padding:0%;
}


/*//META{"name":"Darker discord","description":"Requires Normaized classes to work, Makes discord look nice, Edit of the theme that comes with enhanced discord https://github.com/joe27g","author":"Superpowers04/https://github.com/joe27g","version":"1.1","website":"https://github.com/joe27g"}*//{}*/
/*@import url('https://a-user-s-discord-themes.github.io/OnlyIconsOnMenus/app.css');*/

/*@import url(https://satoru8.github.io/Addons/BeautifulCategories.css);*/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --font-primary: Ubuntu;
    --font-display: Ubuntu;
    --font-code: Ubuntu Mono;
}

* {
    font-family: Ubuntu;
}

code>* {
    font-family: Ubuntu Mono !important;
}










.jumpToPresentBar__0f481, .bar_eff079 {
    top: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 13px;
    bottom: 99% !important;

}
.jumpToPresentBar__0f481:hover{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 13px;
}

.newMessagesBar__0f481 {
    display: none;
}

.typing_faa96b {
    width: 100%;
    background: rgba(1,1,1,0.2);
    border-top-right-radius: 13px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 0px;
}

.chat_a44415 .jump__5126c {
    width: 200px;
    left: 90%;
    text-align: center;
    background-color: var(--accent-color) !important;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}




code{
	background: var(--background-secondary-alt) !important;
}
.container_c791b2,.themed_c8b06d,.search__9d40d,.peopleList__5ec2f,.scroller__36d07,.list__07f91,.thin_d125d2,
.scroller__36d07,.auto_c8b5c7{
    background: var(--background-secondary) !important;
}


*::selection{
    color: var(--text-selected) !important;
    background-color: var(--background-selected) !important;
}
.auto_c8b5c7, .auto_c8b5c7{
    background: var(--channeltextarea-background) !important;
}
 .selected_c791b2{
    background: var(--background-mentioned) !important;
}
.categoryHeader_d1405b{
    background: var(--background-secondary) !important;
}

:root, .theme-dark{

	--header-secondary:#ccd7d4 !important;
	--text-normal:#ccd7d4 !important;
	--text-muted:#abb9b6 !important;
	--text-link:#7D4A8E !important;
	--text-deleted: #f40 !important;
	--text-selected: #ffffff !important;
	--background-selected: #5D4A8E !important;
	--background-primary: #221b24 !important;
	--background-secondary:#1E181F !important;
	--menu-item-default-hover-bg: #5D4A8E !important;
	--background-secondary-alt:#1E181F !important;
	--background-tertiary:#1E181F !important;
	--channeltextarea-background:#302534 !important;
	--background-message-hover: #2A1B30  !important;


	--background-accent:#22222e !important;
	--background-floating:#18061A !important;
	--background-mobile-primary:#221b24 !important;
	--background-mobile-secondary:#1E181F !important;
	--background-modifier-hover:rgba(79,84,92,0.1) !important;
	--background-modifier-active:rgba(79,84,92,0.24) !important;
	--background-modifier-selected:rgba(79,84,92,0.32) !important;
	--background-modifier-accent:hsla(0,0%,100%,0.06) !important;
	--scrollbar-thin-thumb:#18061A !important;
	--scrollbar-thin-track:transparent !important;
	--scrollbar-auto-thumb:#18061A !important;
	--scrollbar-auto-track:#302534 !important;
	--scrollbar-auto-scrollbar-color-thumb:#18061A !important;
	--scrollbar-auto-scrollbar-color-track:#302534 !important;
	--elevation-stroke:0 0 0 1px rgba(4,4,5,0.15) !important;
	--elevation-low:0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05) !important;
	--elevation-medium:0 4px 4px rgba(0,0,0,0.16) !important;
	--elevation-high:0 8px 16px rgba(0,0,0,0.24) !important;
	--logo-primary:#fff !important;
	--focus-primary:#48387577 !important;
	--radio-group-dot-foreground:#5D4A8E77 !important;
	--guild-header-text-shadow:0 1px 1px rgba(0,0,0,0.4) !important;

	--activity-card-background:#202225 !important;
	--textbox-markdown-syntax:#8e9297 !important;

	--background-mentioned:#48387577 !important;
	--background-mentioned-hover:#5D4A8E77 !important;

	--background-help-warning:#5D4A8E77 !important;
	--background-help-info:rgba(0,103,224,0.1) !important;
}






//META{"name":"Reactive Icons","description":"Makes some icons react to you hovering over them, and colors the deafen/mute icons","author":"Superpowers04","version":"0.1","website":"https://github.com/Superpowers04","source":"https://github.com/superpowers04/BD-plugins/blob/master/reactiveicons.theme_f8dc05.css"}*//{}




/*Animations*/
@keyframes rotatedone {
	100% {
		transform: rotate(0deg);
	}
}
@keyframes messageRecFlash {
	0% {
		color: #ffffff;
	}
	50% {
		color: #ff5566;
	}
	100%{
		color: #ffffff;
	}
}

/*Remove call, invite to server, send a gift and nitro tab*/

button[aria-label="Send a gift"], a[href="/shop"],a[href="/store"], #user-context-call,
#user-context-call,#user-context-invite-to-server,
div[aria-label="Start Video Call"],
#discord-nitro-tab>div>.giftCard_a45ed3,#discord-nitro-tab>div>.containerWithoutGlow_a61c56,#discord-nitro-tab>div>.tierCard_a45ed3{
    display: none;
	height: 0;
	width: 0;
}

/**
 * Snippet from #css-snippets applied the 22 May 2022 at 16:52:35
 * Created by dav#8444 (490604571824226306)
 * Snippet ID: 975955497402388491
 */
/*Popout*/
    
/*Animations*/
@keyframes rotatedone {
	100% {
		transform: rotate(0deg);
	}
}
@keyframes messageRecFlash {
	0% {
		color: #ffffff;
	}
	50% {
		color: #ff5566;
	}
	100%{
		color: #ffffff;
	}
}

/*Remove call, invite to server, send a gift and nitro tab*/


/*Colors*/
button[aria-checked="true"] {
	color: #d11703;
}

button[aria-checked="false"] {
	color: #219d86;
}

.highlighted_ed15e7 > *{
	animation-name: messageRecFlash !important;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
/*Rotating User Settings*/
button[aria-label="User Settings"]:hover > * {
	animation-name: settingsrotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
/*Animation*/
@keyframes settingsrotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
button[aria-label="User Settings"] > .content__10a0c {
	transition: 1s;
}
/* Message Appearing */
@keyframes messageappear {
	0% {
		opacity: 0%;
		scale: 0;
	}
	100% {
		opacity: 100%;
		scale: inherit;
	}
}
@keyframes click {
	0% {
		scale: 1;
	}
	50% {
		scale: 0.9;
	}
	100% {
		scale: 1;
	}
}



.message_faa96b, .cozy_fc8177, .group__3d4a0, .wrapper__2f4f7, .cozy_fc8177, .zalgo_c19a55
,.member_c8ffbb,.thin_d125d2,.fade_c8b5c7, .typing_faa96b{
	scale:1;
	transition-property: scale;
	transition-duration: 1s;
}

/* Hover resize */
a,
button,
div{
	transition-property: scale;
	transition-duration: 100ms;
}
button:hover,
.closeButton_b83a17:hover,
.image__9adaf:hover,
.button__0c41a:hover > .content__10a0c,
.emojiItem_fc7141:hover,
.emoji_e85ed6:hover,
.attachButton__74017:hover,
.item_b3f026:hover,
.ui-tab-bar-item:hover,
.avatar_b8dbac:hover,
.blob_fc8177:hover,
.avatar_b8dbac:hover,
.mask_db811b:hover,
.popout_cb9592:hover,
.profile_d878e7:hover{
	transition-property: scale;
	transition-duration: 100ms;
	scale: 1.05;
}
/* Click resize? */
a:focus,
div:focus
button:focus,
.closeButton_b83a17:focus,
.image__9adaf:focus,
.button__0c41a:focus > .content__10a0c,
.emojiItem_fc7141:focus,
.emoji_e85ed6:focus,
.attachButton__74017:focus,
.item_b3f026:focus,
.ui-tab-bar-item:focus,
.avatar_b8dbac:focus,
.blob_fc8177:focus,
.avatar_b8dbac:focus,
.mask_db811b:focus,
.popout_cb9592:focus,
.profile_d878e7:focus
{
	transition-property: scale;
	transition-duration: 100ms;
	scale: 0.9;
}

/*URL coloring*/

a[href^="https://"]
{
	color: #008800;
}
a[href^="http://"]
{
	color: #da0000;
}
a[href*="//discord.com"],a[href*="//discordapp.com"],a[href*=".discord.com/"],a[href^="dis.gd/"],a[href*="discord.gg/"]
{
	color: #738bd7;
}
a[href*="minecraft.net"],
a[href*="minecrafthopper.net"] {
	color: #008542;
}
a[href*="nvidia.com"] {
	color: #73b601;
}
a[href*="archlinux.org"] {
	color: #1793d1;
}
a[href*="intel.com"] {
	color: #0071c5;
}
a[href*="minecraft.game_cc46f0.com"] {
	color: #6c4d34;
}
a[href*="imgur.com"] {
	color: #87c90f;
}
a[href*="youtube.com"],
a[href*="youtu.be"] {
	color: #ff0000;
}
a[href*="mojang.com"] {
	color: #f0454f;
}
a[href*="amd.com"] {
	color: #880000;
}
a[href*="super04.mooo.com"] {
	color: #5b0088;
}
a[href*="roblox.com"] {
	color: #c52314;
}
a[href*="amazon.com"] {
	color: #b67d17;
}
a[href*="wikipedia.org"]{
	color: #eee;
}
a[href*="github.com"],a[href*="github.io"] {
	color: #ee9;
}
a[href*="linktr.ee"] {
	color: #3BAC50;
}
a[href*="xbox.com"] {
	color: #81bc06;
}
a[href*="curseforge.com"] {
	color: #f16436;
}
a[href*="apple.com"] {
	color: #d7d7d7;
}
a[href*="ubuntu.com"] {
	color: #e25427;
}
a[href*="twitter.com"] {
	color: #1da1f2;
}
a[href^="https://duck.co"],a[href^="https://duckduckgo.co"]
{
	color: #e16f4f;
}
a[href*="//facebook.com"],a[href*="//facebook.com"]
{
	color: #47609a;
}
a[href*="//instagram"],a[href*="//facebook.com"]
{
	color: #725547;
}
a[href*="//facebook.com"],a[href*="//facebook.com"]
{
	color: #47609a;
}
a[href*="//pronouns.page_c791b2"],a[href*="//en.pronouns__63ed3.page_c791b2"]
{
	color: #AD2474;
}
a[href^="https://google."],a[href^="https://www.google."]
{
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		90deg,
		#4285f4,
		#ea4335,
		#fbbc05,
		#4285f4,
		#34a853,
		#ea4335
	);
	-webkit-background-clip: text;
}
a[href*="://steampowered.com"],
a[href*="://steamcommunity.com"] {
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(#2e4a5a, #1b2838);
	-webkit-background-clip: text;
}
a[href*="://gamebanana.com"] {
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(#f3e463, #a7963c);
	-webkit-background-clip: text;
}
a[href*="://microsoft.com"] {
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		90deg,
		#f35325,
		#81bc06,
		#05a6f0,
		#ffba08
	);
	-webkit-background-clip: text;
}

a[href*="://steampowered.com"]:hover,a[href*="://gamebanana.com"]:hover,a[href*="://steamcommunity.com"]:hover,a[href^="https://google."]:hover,a[href^="https://www.google."]:hover,a[href*="://microsoft.com"]:hover
{
	-webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}
/*
.listItems_affa7e{
	display:flex;
}*/